/*
    Custom Alert/Confirm Vanilla JS - GPL-3.0
    @neuralpin - http://neuralpin.com/frontend/modal-window
*/
/* -- liwindow -- */
.liwindow-container *, .liwindow-container *::after, .liwindow-container *::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.liwindow-container{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 200;
}
.liwindow-hide{
    display: none;
}
/* -- liwindow Modal Dialog -- */
.liwindow-card{
    margin: 0 auto;
    margin-top: 40px;
    width: 500px;
    max-width: 100%;
    box-shadow: 0px 0px 25px -5px #333;
}
.liwindow-header, .liwindow-footer, .liwindow-body{
    background-color: #fff;
}
.liwindow-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.liwindow-close{
    padding: 20px;
    display: inline-block;
    font-size: 1.33rem;
    color: #333;
    font-weight: bold;
    background-color: transparent;
    border: none;
    transition: 0.3s all;
}
.liwindow-close:hover, .liwindow-close:focus{
    color: #7C4DFF;
    background-color: #f3f3f3;
}
.liwindow-close:active{
    color: #7C4DFF;
    transform: translate(-3px, -3px);
    transform: scale(0.9);
}
.liwindow-close:focus{
    outline: 1px solid #00BCD4;
}
.liwindow-body{
    padding: 20px;
    color: #333;
    font-size: 18px;
}
.liwindow-header h4{
    color: #333;
    padding: 20px;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}
.liwindow-footer{
    text-align: right;
}
.liwindow-btn{
    padding: 20px;
    background-color: transparent;
    border: none;
    color: #9c27b0;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.3s all;
}
.liwindow-btn:hover, .liwindow-btn:focus{
    color: #7C4DFF;
    background-color: #f3f3f3;
}
.liwindow-btn:active{
    color: #7C4DFF;
    transform: translate(-3px, -3px);
    transform: scale(0.9);
}
.liwindow-btn:focus{
    outline: 1px solid #00BCD4;
}
/* -- lilightbox -- */
.lilightbox img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}
.lilightbox{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.lilightbox .lilightbox-close{
    font-size: 1.55rem;
    position: absolute;
    left: 0;
    top: 0;
    color: #e0e0e0;
    text-shadow: 0px 1px 2px #333;
    padding: 20px;
    display: inline-block;
    font-weight: bold;
    background-color: transparent;
    border: none;
    transition: 0.3s all;
}
.lilightbox .lilightbox-close:hover{
    color: #FFC107;
    background-color: transparent;
}
/* -- lislideshow -- */
.lislideshow{
    margin: 0;
    padding: 0;
    list-style: none;
}
.lislideshow {
    width: 100%;
    position: relative;
    transition: height 0.5s;
    overflow: hidden;
    display: block;
    z-index: 1;
}
.lislideshow li {
    position: absolute;
    transition: 0.5s all;
    opacity: 0;
    z-index: 1;
    display: block;
}
.lislideshow li.active  {
    opacity: 1;
    z-index: 10;
}
.lislideshow-cont {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.lislideshow-btn.btprev{left: 0;}
.lislideshow-btn.btnext{right: 0;}
.lislideshow-btn {
	font-size: 2.77rem;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15%;
	z-index: 15;
	background-color: transparent;
	border: none;
	padding: 0;
    color: #e0e0e0;
    text-shadow: 0px 1px 2px #333;
}
.lislideshow-btn:hover{
    color: #FFC107;
}